apiVersion: argoproj.io/v1alpha1
kind: Application
metadata:
  name: iot-bhamdi
  namespace: argocd
spec:
  destination:
    namespace: dev
    server: https://kubernetes.default.svc
  project: default
  source:
    repoURL: https://github.com/BenElhadj/Inception-of-Things
    targetRevision: main
    path: p3/wil-deployment/
    directory:
      recurse: true
  syncPolicy:
    automated:
      prune: true
      selfHeal: true