apiVersion: argoproj.io/v1alpha1
kind: Application
metadata:
  name: wil-playground-app
  namespace: argocd
spec:
  destination:
    namespace: dev
    server: https://kubernetes.default.svc
  project: default
  source:
    repoURL: https://github.com/BenElhadj/Inception-of-Things-p3.git
    targetRevision: master
    path: kubernetes
    directory:
      recurse: true
  syncPolicy:
    automated:
      prune: true
      selfHeal: true
